@import "../globals/variables"

.about
  padding-left: 1%
  text-align: left
  height: 82vh

  .content
    overflow: hidden
    transition: display 0.5s ease

  .intro
    animation: 1s ease-out 0s 1 fadeIn

    .profile-photo
      padding-top: 2%
      text-align: center

      img
        border: 3px solid $profile-image-border
        box-shadow: 0 0 1px 1px $lighter-theme
        width: 42%
        border-radius: 100%

  a, a:visited, a:hover, a:active
    color: $darker-theme
    font-weight: bold
    font-size: 14px
    text-decoration: underline

  .technologies
    overflow: hidden
    margin-right: 0

    ul
      margin: 0
      list-style-type: square

    li
      font-family: monospace
      font-size: 14px
