.about
  padding-top: 0
  padding-left: 5%
  text-align: left

  .content
    overflow: hidden
    transition: display 0.5s ease

    .intro
      float: left
      width: 50%

    .profile-photo
      float: right
      padding-top: 2%
      text-align: center
      width: 50%

      img
        border: 3px solid rgb(0, 187, 86)
        box-shadow: 0 0 1px 1px rgba(0, 206, 115, 0.88)
        width: 42%
        border-radius: 100%
  h1
    font-family: "Courier New"
    margin: 0
    color: rgb(0, 165, 90)
    font-size: 30px

  a, a:visited, a:hover, a:active
    color: rgb(0, 145, 77)
    font-weight: bold
    font-size: 14px
    text-decoration: underline

  .technologies
    overflow: hidden
    width: 60%
    margin-top: 0%

    h4
      margin: 0
      margin-bottom: 5%
      color: rgb(0, 145, 77)

    ul
      margin: 0
      list-style-type: square

    li
      font-family: monospace
      font-size: 14px
