h1
  font-family: "Courier New"
  margin: 0
  color: rgb(0, 165, 90)
  font-size: 30px
  font-weight: bold

h3
  margin: 0
  color: rgb(0, 165, 90)
  font-size: 22px

h4
  margin: 0
  margin-bottom: 5%
  color: rgb(0, 165, 90)
  font-size: 18px

h6
  font-size: 15px

p
  color: rgb(84, 90, 112)
  font-size: 14px

p-code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace
  color: rgb(84, 90, 112)
  margin-top: 1%
  font-size: 14px