@import "../globals/variables"

.custom-navbar
  text-align: right
  overflow: hidden
  position: fixed
  top: 0
  left: 0
  width: 100%
  background-color: white
  z-index: 5
  transition: box-shadow 0.2s linear

  ul
    padding: 15px 20px 12px
    margin: 0
    list-style: none

  li
    display: inline-block
    margin-left: 1%

  .link
    &:after
      content: ''
      display: block
      height: 3px
      width: 0
      background: transparent
      transition: width 0.5s ease, background-color 0.5s ease

    &:hover:after
      width: 100%
      background: $navbar-link-underline

  a, a:visited, a:hover, a:active
    color: $navbar-link
    font-weight: 450
    font-size: 14px
    display: block
    padding: 6px 12px
    text-decoration: none

.active
  box-shadow: 0 0 8px $navbar-shadow

#resume-button
  border: 1px solid $lighter-theme
  font-size: 14px
  transition: 0.5s
  text-transform: capitalize

  &:hover
    background-color: $lighter-theme
    color: $resume-button-font-color-hover





