@import "../globals/variables"

.sidebar
    background-color: $sidebar-background
    text-align: center
    overflow: hidden
    position: fixed
    left: 0
    top: 23%
    width: 6%

    ul
        padding: 0
        list-style: none

    li
        margin: 38% 23%
        padding: 10% 10%
        cursor: pointer
        transition: border-color 1s ease
        border: 2px solid $sidebar-icon-border
        border-radius: 50%
        &:hover
            border: 2px solid $sidebar-icon-border-hover

    .icon
        font-size: 25px

    a
        text-decoration: none



